{{#partial "styles"}}
    <link rel="stylesheet" href="/css/styles.css">
{{/partial}}

{{#partial "content"}}
    <h1>Where Heroes are made</h1>
    <h3>You only need yourself to be  a superhero</h3>
    <h3>We keep doing it the whole time and that is how superhero learns how to fly</h3>
    <br><br>
    {{#if heros}}
        {{#each heros}}

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Hero {{name}}</h5>

                    <p></p>
                    <p>Age: {{age}}</p>
                    <p>Powers: {{power}}</p>
                    <p>Weaknesses: {{weakness}}</p>
                    <a href="/heros/{{hero.id}}/update"><button class="btn btn-success">Edit hero</button></a>
                    <a href="/heros/{{hero.id}}/delete"><button class="btn btn-danger">Delete hero</button></a>
                </div>
            </div>
        {{/each}}
        {{else}}
        <p>No hero has been added.</p>
        <h4>Add your hero from the menu</h4>
    {{/if}}
{{/partial}}

{{>layout.hbs}}